
@{
    ViewBag.Title = "Index";
}

<h2>Merhaba</h2>

<a href="/Home/Index">Anasayfaya Git (Tildasız)</a>
<hr />
<a href="~/Home/Index">Anasayfaya Git (Tildalı)</a>
<hr />
Bir resmin yolu (Url.Content kullandık):
@Url.Content("~/Content/resim.jpg")
<hr />
Tildalı:
<img src="~/Content/resim.jpg" width="100" height="100" />
<hr />
Tildasız:
<img src="/Content/resim.jpg" width="100" height="100" />


